body{
    background-color: beige;
    margin-top: 20px auto;
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
}
h1{
    font-size: 50px;
    color: brown;
}

p{
    font-size: 30px;
}